/*------------------zeroing out--------------------*/

*{
	margin:0;
	padding:0;
	border: 0;
}

a, a:visited{
	text-decoration:none;
	color:inherit;
}

ul, li{
	position:relative;
	list-style:none;
	margin:0px 0px 10px 20px;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6{
	margin:0px 0px 0px 0px;
	font-size:inherit;
}

/*-----------------general styles----------*/

.back{
	background:lightgrey;
	border:none;
	padding:5px 5px 5px 5px;
	border-radius:10px;
}

h1{
	font-size:60px;
	text-align:center;
}

h2{
	font-size:35px;
	text-align:center;
}

.portfolio>ul>li>h4:hover{
	text-shadow:5px 5px 10px white, -5px -5px 10px white, 0px 0px 5px white, 0px 0px 3px white;
}

.portfolio>ul>li>*{
	margin-bottom:8px;
}


/*-----------main styles----------------*/
.wrapper{
	width:1200px;
	position:relative;
	font-size:20px;
	font-weight:500;
	font-family:montserrat;
	margin:10px auto;
}

li:before{
	content:"";
	position:absolute;
	top:0px;
	left:-30px;
	display:block;
	width:20px;
	height:20px;
	border-radius:50%;
	box-shadow:1px 1px 2px black;
	background: linear-gradient(to right, black, white);
}

/*------------------header--------------*/

header{
	display:flex;
	flex-flow:row nowrap;
	justify-content: space-around;
	width:100%;
	height:60px;
	align-items:center;
}

.contacts{
	position:relative;
	overflow:hidden;
	display:flex;
	flex-flow:row nowrap;
	width:190px;
	height:40px;
	box-shadow:1px 1px 3px 1px black;
	border-radius:5px;
	margin:0;
	align-items:center;
	transition: .3s;
	padding:0 0 0 5px;
}

.contacts:hover{
	box-shadow:1px 1px 3px 1px white;
	background:darkgrey;
}

.contacts>img{
	height:38px;
}

.contacts>p{
	font-size:17px;
	font-weight:700;
	margin-left:5px;
}
/*------------------blink button----------------------------------------*/
.blink{
	position:absolute;
	top:0;
	left:-33px;
	width:0px;
	height:40px;
	transform:skew(-30deg);
	background:white;
	box-shadow:0 0 13px 14px white;
	opacity:100;
}

/*-------------------------------------------------------------*/

/*------------aside--------------*/
aside{
	width:395px;
	height:100%;
	position:static;
	float:left;
	margin:20px 10px 0 0;
}

/*--------photo-----------*/
.photo_container{
	width:100%;
	aspect-ratio:1/1;
	position:relative;
	margin:5px auto;
	border-radius:50%;
	background:url(../img/photo.jpg);
	background-size:cover;
}

.aside_splitter{
	width:90%;
	height:1px;
	background:black;
	margin:10px auto;
}

.fio{
	padding:5px 10px;
}

/*-----------------main----------------------*/
main{
	display:flex;
	flex-flow:column nowrap;
	width:795px;
	height:100%;
	position:static;
}

.about{
	width:100%;
	position:relative;
	margin: 20px 0 0 0;
	padding:10px 5px 5px 5px;
}

.about>h2{
	position:absolute;
	width:100%;
	top:-24px;
}

.portfolio{
	display:block;
	width:100%;
	position:relative;
	margin:20px 0 0 0;
	padding:10px 5px 5px 5px;
}

.portfolio>h2{
	position:absolute;
	width:100%;
	top:-24px;
}

.experience{
	display:block;
	width:100%;
	position:relative;
	margin: 20px 0 0 0;
	padding:10px 5px 5px 5px;
}

.experience>h2{
	position:absolute;
	width:100%;
	top:-24px;
}

#stretchBox{
	height:426px;
	overflow:hidden;
}

#stretchBox:hover{
	cursor:pointer;
}